.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #181a1b;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c6c6c6;
  border: 8px solid;
  border-color: #e5e5e5 #737373 #737373 #e5e5e5;
}

.imformationboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: #adadad;
  border: 5px solid;
  border-color: #737373 #e5e5e5 #e5e5e4 #737373;
}

.sampleStyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/minesweeper.icons.png') no-repeat;
}

.bombMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c6c6c6;
  border: 5px solid;
  border-color: #737373 #e5e5e5 #e5e5e4 #737373;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #808080;
}

.rock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #c6c6c6;
  border: 4px solid;
  border-color: #fff #808080 #808080 #fff;
}

.countbase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 40px;
  margin: 24px;
  font-size: 1.5rem;
  color: red;
  background-color: #000;
  border: 3px solid;
  border-color: #737373 #e5e5e5 #e5e5e4 #737373;
}

.fusion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: url('~/src/assets/images/minesweeper.icons.second.png') no-repeat;
  background-color: #c6c6c6;
  border: 4px solid;
  border-color: #fff #808080 #808080 #fff;
}

.redbomb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: url('~/src/assets/images/minesweeper.icons.png') no-repeat;
  background-color: #f22;
}
