.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.sampleStyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/minesweeper.icons.png') no-repeat;
}

.bombMap {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 360px;
  background-color: #c6c6c6;
}

.overbombMap1 {
  display: flex;
  width: 360px;
  height: 120px;
  background-color: #c6c6c6;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #808080;
}

/* bombMap:cell = 9:1 best */

.rock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #c6c6c6;
  border: 5px solid;
  border-color: #fff #808080 #808080 #fff;
}

.threebase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #c6c6c6;
}

.countbase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  font-size: 2rem;
  color: red;
  background-color: #000;
}

.fusion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: url('~/src/assets/images/minesweeper.icons.png') no-repeat;
  background-color: #c6c6c6;
  border: 5px solid;
  border-color: #fff #808080 #808080 #fff;
}
